---
layout: archive
permalink: /tags/
title: "Posts by Tags"
author_profile: true
---

{% include base_path %}
{% include group-by-array collection=site.posts field="tags" %}

{% for tag in group_names %}
    {% assign postCount = group_items[forloop.index0] | size %}
      <i class="fa fa-book" aria-hidden="true"></i>
      <a href="#{{ tag | slugify }}">{{tag}}&nbsp</a>
      <span>{{postCount}} </span>
           
      <span>&nbsp&nbsp</span>
{% endfor %}

{% for tag in group_names %}
  {% assign posts = group_items[forloop.index0] %}
  <h1 id="{{ tag | slugify }}" class="archive__subtitle">{{ tag }}</h1>
  {% for post in posts %}
    {% include archive-single.html %}
  {% endfor %}
{% endfor %}