---
layout: archive
permalink: /tags/
title: "Posts by Tags"
author_profile: true
---

{% include base_path %}
{% include group-by-array collection=site.posts field="tags" %}

<div>
{% for tag in group_names %}
    {% assign postCount = group_items[forloop.index0] | size %}
      <button class="w3-btn w3-black w3-round-xlarge" style=" margin: 0.05em 0.05em 0.05em 0.05em;">
        <a href="#{{ tag | slugify }}">{{tag}}</a>
        <span class="w3-badge w3-margin-left w3-white">{{postCount}} </span>
 
        </button>
{% endfor %}
</div>

{% for tag in group_names %}
  {% assign posts = group_items[forloop.index0] %}
  <h1 id="{{ tag | slugify }}" class="archive__subtitle">{{ tag }}</h1>
  {% for post in posts %}
    {% include archive-single.html %}
  {% endfor %}
{% endfor %}